<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/partials/_navbar.css' />
    <link rel='stylesheet' href='/css/partials/_footer.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/<%= css %>.css' />
  </head>
  <body>